{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <h1>Home</h1>
    <br>
    <p style="font-size:23px;">Welcome to your own personal Task Manager!</p>
    <p style="font-size:23px;">Here you can save,update,or display your tasks!</p>
    <br>
    <br>
    <p style="font-size:23px;">To register a new task, hit the  ➕ button (no duplicate task names allowed).</p>
    <br>
    <p style="font-size:23px;">To update an existin task, hit the 🆙 button.</p>
    <br>
    <p style="font-size:23px;">To display all your tasks, and their description/status, hit the 🗒️ button.</p>
    <br>
    <p style="font-size:23px;">To delete a selected task and all its data, hit the 🗑️ button.</p>
    <br>
    <p style="font-size:23px;">To return to your homepage, hit the 🏠 button.</p>
{% endblock %}
